
#options {
  margin-left:15px;
  width: 15px;
  height: 15px;
  border: 0;
  opacity: 0.5;
  background-image: url(icons/gear.svg?background#background);
  background-repeat: no-repeat;
  transition: opacity 0.1s ease-in;
  flex-shrink: 0; }

#options:hover {
  opacity: 1; }





