/*options button*/
#options {
  margin-left:15px;
  width: 15px;
  height: 15px;
  border: 0;
  opacity: 0.5;
  background-image: url(icons/gear.svg?background#background);
  background-repeat: no-repeat;
  transition: opacity 0.1s ease-in;
  flex-shrink: 0; }

#options:hover {
  opacity: 1; 
}

/*read button*/
#readButton {
    float:left;
    width: 20px;
    margin-top: -3px;
    margin-left: 15px;
    background-image: url(icons/img.svg);
    background-repeat: no-repeat;
    opacity: 0.5;
}

input {
    width: 20px;
    right: 0;
    top: 0;
    opacity: 0;
}

#readButton:hover {
    opacity: 1; 
}



